@tailwind base;

/* @font-face {
  font-family: 'Manrope vf';
  src: url(/fonts/Manrope.ttf) format('truetype-variations');
  font-style: normal;
  font-variation-settings: 'wght' 500;
  font-variation-ligatures: normal;
  font-weight: 200 800;
} */

@font-face {
  font-family: 'Inter vf';
  src: url(/fonts/Inter-latin.woff2) format('woff2-variations');
  font-weight: 100 900;
}

html {
  font-family: Inter vf, -apple-system, BlinkMacSystemFont, Roboto,
    helvetica neue, sans-serif;
  color: #1c2420;
  letter-spacing: calc(-0.03058em + 0.44638px);
  font-size: calc(0.18779vw + 11.29577px);
}

h1 {
  @apply py-8;
  grid-column: 1 / -1;
  font-size: calc(3.56808vw + 28.61972px);
  font-variation-settings: 'wght' 800;
  line-height: 1.2em;
  transition: all 200ms;
}

h1:hover {
  font-variation-settings: 'wght' 200;
  letter-spacing: 0.07ch;
}

h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
  font-variation-settings: 'wght' 400;
  transition: all 200ms;
}

a:hover {
  @apply text-teal-700;
  font-variation-settings: 'wght' 800;
  letter-spacing: -0.04ch;
}

@tailwind components;

.navigation:hover .label {
  @apply block;
}
.navigation:hover .item {
  @apply w-auto;
}

@tailwind utilities;
