html, body {
  font-size: 8px;
  font-family: Quattrocento, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
  margin-bottom: 3.0rem;
  font-family: Work Sans;
  font-size: 6.866455078125em;
  line-height: 9rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.05em;
  }
  
  h2 {
  margin-bottom: 3.0rem;
  font-family: Work Sans;
  font-size: 5.4931640625em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h3 {
  margin-bottom: 3.0rem;
  font-family: Work Sans;
  font-size: 4.39453125em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h4 {
  margin-bottom: 3.0rem;
  font-family: Work Sans;
  font-size: 3.515625em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h5 {
  margin-bottom: 3.0rem;
  font-family: Work Sans;
  font-size: 2.8125em;
  line-height: 3.0rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h6 {
  margin-bottom: 3.0rem;
  font-family: Work Sans;
  font-size: 2.25em;
  line-height: 3.0rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  p {
  margin-bottom: 3.0rem;
  font-family: Quattrocento;
  font-size: 2.25em;
  line-height: 4.0rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }