.navigation {
  :hover .label {
    display: block;
  }
  :hover .item {
    width: 16rem;
  }
}

// .nav {
//   background-color: #333;
//   position: fixed;
//   left: 0;
//   z-index: 300;
//   margin-bottom: 0;

//   &__list {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     overflow: hidden;
//   }

//   &__item {
//     width: 100%;
//     cursor: pointer;
//     &:last-child {
//       margin-top: auto;
//     }
//     &:hover .nav__icon {
//       filter: grayscale(0);
//     }
//   }

//   &__link {
//     display: flex;
//     align-items: center;
//     text-align: center;
//     height: 9rem;
//     min-width: 9rem;
//     color: #fff;
//     text-decoration: none;
//     letter-spacing: 0;
//     transition: letter-spacing 100ms;
//     &:hover {
//       color: rgb(254, 150, 24);
//       background: #222;
//       letter-spacing: 0.2ch;
//     }
//   }

//   &__icon {
//     width: 3rem;
//     height: 3rem;
//     margin: 3rem;
//     filter: grayscale(1);
//   }

//   &__title {
//     display: none;
//     white-space: nowrap;
//     text-transform: uppercase;
//     font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     font-size: 2rem;
//     font-weight: 600;
//   }

//   @media only screen and (min-width: 600px) {
//     width: 9rem;
//     height: 100vh;
//     transition: width 500ms cubic-bezier(0.04, 1.09, 0.92, 1.055);
//     top: 0;
//     &:hover {
//       width: 30rem;
//       .nav__title {
//         display: block;
//       }
//     }
//     .nav__list {
//       flex-direction: column;
//     }
//   }
//   @media only screen and (max-width: 600px) {
//     width: 100%;
//     height: 9rem;
//     bottom: 0;
//     .nav__list {
//       flex-direction: row;
//     }
//     .nav__title {
//       display: block;
//       font-size: 1rem;
//     }
//     .nav__link {
//       justify-content: center;
//       flex-direction: column;
//     }
//     .nav__icon {
//       margin-top: 1rem;
//       margin-bottom: 1rem;
//     }
//   }
// }
